.block {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.label {
  outline: none;
  padding-left: 52px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 20px 0;
  border: 1px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  background-color: transparent;
  border-bottom: 1px solid;
  color: rgb(255 255 255 / 0.6);
}
.input {
  padding: 5px;
  /* font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border-bottom: ; */
  border-color: rgb(255 255 255 / 0.6);
  -webkit-text-fill-color: rgb(255 255 255 / 0.6);
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.error {
  position: absolute;
  bottom: -2px;
  left: 5px;
  color: red;
  font-size: 16px;
}
