@import-normalize; /* bring in normalize.css styles */
@import url('./stylesheet/fonts.css');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #101010;
  background-image: url(./svg/Gradient2.png);
}

code {
  font-family: 'Poppins', sans-serif;
}
